.App {
  padding-top: 60px;
  background-color: #465EFF;
  min-height: 100vh;
}

@media (max-width: 480px) {
  .App {
    padding-top: 50px;
  }
}

.page-container,
.pagina-container {
  padding-top: 60px;
}

@media (max-width: 480px) {
  .page-container,
  .pagina-container {
    padding-top: 50px;
  }
}